main form input {
    margin: 15px;
    padding: 5px;
     width: 80%;
}

.login {
    margin: 5% 11%;
}
.register{
    margin: 5% 11%;
}

h4{
    color: #666;
}

main input[type="submit"]{
border: 2px blue solid ;
background-color: blue;
color: white;
border-radius: 5px;
}


main input[type="submit"]:hover{
background-color:#0022AA;}

main input[type="text"]{
    border: 2px white solid;
    border-radius: 5px;
}

main input[type="password"]{
    border: 2px white solid;
    border-radius: 5px;
}

.profile {
    display: flex;
    flex-direction: row;
}

.interests {
    display: inline-block;
    
}

input[type="reset"]{
    border: 2px rgb(161, 161, 161) solid;
    border-radius: 5px;
    background-color: white;
}
input[type="date"]{
    border: 2px white solid;
    border-radius: 5px;
}
input[type="email"]{
    border: 2px white solid;
    border-radius: 5px;
}


